.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 480px;
    height: 480px;

    margin: 50px;
    padding: 0;
    position: relative;
    list-style: none;
}


.tile {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: bold;

    position: absolute;
}


.tileType1 {
    background-color: gray;
}

.tileType2 {
    background-color: darkgray;
}

.bejeweledContent {
    display: flex;
    justify-content: space-between;
}

.gameInfoPanel {

}
