.gemContainer {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    border-radius: 50%;
}

.gemImage {
    width: 45px;
    height: 45px;
    z-index: 1;
}

