.gemContainer {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.gemImage {
    width: 45px;
    height: 45px;
    position: relative;
    z-index: 1;
}

