<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bejeweled</title>
        <link rel="stylesheet" href="/css/stylesheet.css">
    </head>
    <body>

        <h1>Bejeweled</h1>
        <span th:if="${@userController.logged}">
            <a href="/logout" th:text="${'Logged user: ' + @userController.loggedUser.login}"/>
        </span>

        <span th:if="${not @userController.logged}">
            <a href="/">Quit</a>
        </span>
        <a href="/bejeweled/new">New game</a>
        <a href="/bejeweled/hint" th:text="${'Hint: ' + @bejeweledController.hintCount}"></a>
        <span th:utext="${'Game state: ' + @bejeweledController.state}"></span>
        <span th:utext="${@bejeweledController.htmlField}"></span>


        <!-- Table with best scores -->
        <h2>Top scores</h2>
        <table class="scores">
            <thead>
            <tr>
                <th>No.</th>
                <th>Player</th>
                <th>Points</th>
                <th>Played at</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="scores" type="java.util.List<sk.tuke.gamestudio.entity.Score>"*/-->
            <tr th:each="score, it : ${scores}">
                <td th:text="${it.index + 1}"/>
                <td th:text="${score.player}"/>
                <td th:text="${score.points}"/>
                <td th:text="${#dates.format(score.playedOn, 'dd.MM.yyyy HH:mm')}"/>
            </tr>
            </tbody>
        </table>

    </body>
</html>